.css3{
    color: var(--primary) !important;
    background: rgb(248, 252, 255)!important;
}
.git{
    background: rgb(255, 242, 240)!important;
}
.github{
    color: black!important;
    background: rgb(250, 250, 250)!important;
}
.android{
    color: greenyellow!important;
    background: rgb(247, 255, 238)!important;
}
.ios{
    color: black!important;
    background: rgb(250, 250, 250)!important;
}
.react{
    color: var(--primary)!important;
    background: rgb(248, 252, 255)!important;
}
.php{
    color: var(--primary)!important;
    background: rgb(248, 252, 255)!important;
}
.markdown{
    color: black!important;
    background: rgb(250, 250, 250)!important;
}
.vueJs{
    color: green!important;
    background: rgb(226, 255, 226)!important;
}
.nodeJs{
    color: rgb(171, 171, 1)!important;
    background: rgb(253, 253, 232)!important;
}
.sass{
    color: rgb(235, 2, 150)!important;
    background: rgb(253, 244, 250)!important;
}
.Js{
    color:rgb(221, 221, 2)!important;
    background: rgb(255, 255, 243)!important;
}
.python{
    color: var(--primary) !important;
    background: rgb(248, 252, 255)!important;
}
.databases{
    color: orange !important;
    background: rgb(255, 250, 240)!important;
}
